body,html{
  width:100%;
  height:100%;
  margin:0 auto;
  padding-top:20px;
}
label{
  font-size:20px;
  margin-left:650px;
}
.echart{
  width:50%;
  height:70%;
  margin:0 auto;
  padding-top:20px;
}
.excel{
  width:40%;
  margin:0 auto;
  margin-top:20px;
}
